In [1]:
import pandas as pd
import datetime
from typing import Tuple

In [19]:
fut = pd.read_csv("sensex_future.csv").set_index("date_time")
fut.index = pd.to_datetime(fut.index)
opt = pd.read_csv("sensex.csv").set_index("date_time")
opt.index = pd.to_datetime(opt.index)

In [23]:
fut = pd.read_pickle("C:\\PICKLE\\Nifty Future\\2019-02-11_nifty_future.pkl").set_index("date_time")
fut.index = pd.to_datetime(fut.index)
opt = pd.read_pickle("C:\\PICKLE\\Nifty Options\\2019-02-11_nifty.pkl").set_index("date_time")
opt.index = pd.to_datetime(opt.index)

In [31]:
entry_time = pd.to_datetime("2019-02-11 09:20:00")
exit_time = pd.to_datetime("2019-02-11 15:00:00")
sl=20
ut_sl=40

In [30]:
fut.head(6)

,scrip,open,high,low,close,volume,openinterest
date_time,,,,,,,
2019-02-11 09:15:00,NIFTY-I,10920.00,10929.90,10915.60,10917.40,116625,20999550
2019-02-11 09:16:00,NIFTY-I,10918.00,10918.85,10901.00,10909.55,163125,21024375
2019-02-11 09:17:00,NIFTY-I,10908.70,10909.70,10904.15,10908.90,120900,21024375
2019-02-11 09:18:00,NIFTY-I,10907.75,10910.70,10903.90,10908.95,84675,21024375
2019-02-11 09:19:00,NIFTY-I,10908.95,10915.00,10908.05,10915.00,75825,21134025
2019-02-11 09:20:00,NIFTY-I,10915.10,10915.10,10896.80,10898.55,94650,21134025

In [29]:
entry_time

Timestamp('2024-01-01 09:20:00')

In [33]:
fut_close_entry = fut.loc[entry_time, 'close']
print(fut_close_entry)
fut_close_entry = round(fut_close_entry / 100) * 100
fut_close_entry

10898.55

10900

In [34]:
# Create CE and PE strike symbols based on fut_close_entry
ce_strike = f"{int(fut_close_entry)}CE"
pe_strike = f"{int(fut_close_entry)}PE"

# Extract data for CE and PE from entry_time to exit_time
ce_data = opt[(opt['scrip'] == ce_strike) ]
pe_data = opt[(opt['scrip'] == pe_strike) ]

ce_data

,index,scrip,open,high,low,close,volume,openinterest,expiry_date,dte
date_time,,,,,,,,,,
2019-02-11 09:15:00,NIFTY,10900CE,69.95,96.10,56.95,64.00,13050,0,2019-02-14,3
2019-02-11 09:16:00,NIFTY,10900CE,62.35,68.65,61.60,65.50,36375,16500,2019-02-14,3
2019-02-11 09:17:00,NIFTY,10900CE,65.95,65.95,63.30,65.00,50850,16500,2019-02-14,3
2019-02-11 09:18:00,NIFTY,10900CE,64.10,64.95,60.90,62.50,53700,16500,2019-02-14,3
2019-02-11 09:19:00,NIFTY,10900CE,61.55,63.20,60.70,62.00,59400,78525,2019-02-14,3
...,...,...,...,...,...,...,...,...,...,...
2019-02-11 15:25:00,NIFTY,10900CE,57.30,58.60,57.15,58.60,22275,605025,2019-02-14,3
2019-02-11 15:26:00,NIFTY,10900CE,58.60,59.80,58.40,59.75,45075,605025,2019-02-14,3
2019-02-11 15:27:00,NIFTY,10900CE,59.85,60.00,58.60,58.60,54075,605025,2019-02-14,3
2019-02-11 15:28:00,NIFTY,10900CE,58.80,59.60,58.55,59.60,44850,575250,2019-02-14,3
2019-02-11 15:29:00,NIFTY,10900CE,59.55,60.00,59.30,60.00,50025,575250,2019-02-14,3

In [48]:
ce_data = ce_data.loc[entry_time:exit_time]
pe_data = pe_data.loc[entry_time:exit_time]

In [49]:
ce_data.head()

,index,scrip,open,high,low,close,volume,openinterest,expiry_date,dte
date_time,,,,,,,,,,
2024-01-01 09:17:00,SENSEX,72100CE,550.75,557.25,510.00,535.00,1800,0,2024-01-05,4
2024-01-01 09:18:00,SENSEX,72100CE,538.65,543.55,525.00,527.25,1200,0,2024-01-05,4
2024-01-01 09:19:00,SENSEX,72100CE,530.15,537.05,518.65,518.65,2330,0,2024-01-05,4
2024-01-01 09:20:00,SENSEX,72100CE,516.70,519.85,505.55,507.50,1600,0,2024-01-05,4
2024-01-01 09:21:00,SENSEX,72100CE,507.05,515.05,503.50,511.55,1560,0,2024-01-05,4

In [50]:
pe_data.head(4)

,index,scrip,open,high,low,close,volume,openinterest,expiry_date,dte
date_time,,,,,,,,,,
2024-01-01 09:17:00,SENSEX,72100PE,405.35,427.15,400.05,427.15,4510,0,2024-01-05,4
2024-01-01 09:18:00,SENSEX,72100PE,423.55,434.15,420.45,429.90,1710,0,2024-01-05,4
2024-01-01 09:19:00,SENSEX,72100PE,428.40,442.70,422.05,439.00,4590,0,2024-01-05,4
2024-01-01 09:20:00,SENSEX,72100PE,440.00,452.95,431.00,444.10,6610,0,2024-01-05,4

In [51]:
ce_price = ce_data.loc[entry_time, 'close']
pe_price = pe_data.loc[entry_time, 'close']
ce_price,pe_price

(535.0, 427.15)

In [52]:
# Calculate CE and PE stop loss prices as sl percentage above their entry prices
ce_sl_price = ce_price + ((ce_price * sl) / 100)
pe_sl_price = pe_price + ((pe_price * sl) / 100)

ce_sl_price, pe_sl_price

(642.0, 512.5799999999999)

In [53]:
# Find the first time CE or PE hits their respective stop loss price
ce_hit_time = ce_data[ce_data['high'] >= ce_sl_price].index.min()
pe_hit_time = pe_data[pe_data['high'] >= pe_sl_price].index.min()

print("CE SL hit time:", ce_hit_time)
print("PE SL hit time:", pe_hit_time)

CE SL hit time: 2024-01-01 13:50:00
PE SL hit time: NaT

In [ ]:
# Calculate PnL based on SL hit logic for CE and PE
ce_pnl = None
pe_pnl = None

try:
    # Check which SL hit first (if any)
    if pd.notna(ce_hit_time) and pd.notna(pe_hit_time):
        # Both SL hit, take the earlier one
        if ce_hit_time <= pe_hit_time:
            first_sl = 'ce'
            first_hit_time = ce_hit_time
        else:
            first_sl = 'pe'
            first_hit_time = pe_hit_time
    elif pd.notna(ce_hit_time):
        first_sl = 'ce'
        first_hit_time = ce_hit_time
    elif pd.notna(pe_hit_time):
        first_sl = 'pe'
        first_hit_time = pe_hit_time
    else:
        first_sl = None
        first_hit_time = None

    if first_sl == 'ce':
        ce_pnl = ce_price - ce_sl_price
        # Modify PE SL to ut_sl% above pe_price from ce_hit_time onwards
        pe_ut_sl_price = pe_price + ((pe_price * ut_sl) / 100)
        pe_ut_hit_time = pe_data.loc[first_hit_time:][pe_data['high'] >= pe_ut_sl_price].index.min()
        if pd.notna(pe_ut_hit_time):
            pe_exit_price = pe_data.loc[pe_ut_hit_time, 'close']
        else:
            pe_exit_price = pe_data.loc[exit_time, 'close']
        pe_pnl = pe_exit_price - pe_price

    elif first_sl == 'pe':
        pe_pnl = pe_price - pe_sl_price
        # Modify CE SL to ut_sl% above ce_price from pe_hit_time onwards
        ce_ut_sl_price = ce_price + ((ce_price * ut_sl) / 100)
        ce_ut_hit_time = ce_data.loc[first_hit_time:][ce_data['high'] >= ce_ut_sl_price].index.min()
        if pd.notna(ce_ut_hit_time):
            ce_exit_price = ce_data.loc[ce_ut_hit_time, 'close']
        else:
            ce_exit_price = ce_data.loc[exit_time, 'close']
        ce_pnl = ce_exit_price - ce_price

    else:
        # Neither SL hit, exit at exit_time
        ce_exit_price = ce_data.loc[exit_time, 'close']
        pe_exit_price = pe_data.loc[exit_time, 'close']
        ce_pnl = ce_exit_price - ce_price
        pe_pnl = pe_exit_price - pe_price

except Exception as e:
    print("Error in PnL calculation:", e)

print("CE PnL:", ce_pnl)
print("PE PnL:", pe_pnl)
print("Total PnL:", (ce_pnl if ce_pnl is not None else 0) + (pe_pnl if pe_pnl is not None else 0))

CE PnL: -107.0
PE PnL: -135.39999999999998
Total PnL: -242.39999999999998

C:\Users\ankit\AppData\Local\Temp\ipykernel_3852\3917036277.py:30: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  pe_ut_hit_time = pe_data.loc[first_hit_time:][pe_data['high'] >= pe_ut_sl_price].index.min()

In [59]:
type(entry_time)

pandas._libs.tslibs.timestamps.Timestamp

In [ ]:
def b120(fut:pd.DataFrame, opt:pd.DataFrame, sl:int, ut_sl:int, entry_time:pd.Timestamp, exit_time:pd.Timestamp) -> Tuple[int, int, int]:
    # Find future close at entry and round to nearest 100
    fut_close_entry = fut.loc[entry_time, 'close']
    fut_close_entry = round(fut_close_entry / 100) * 100

    ce_strike = f"{int(fut_close_entry)}CE"
    pe_strike = f"{int(fut_close_entry)}PE"

    ce_data = opt[(opt['scrip'] == ce_strike)].loc[entry_time:exit_time]
    pe_data = opt[(opt['scrip'] == pe_strike)].loc[entry_time:exit_time]

    ce_price = ce_data.loc[entry_time, 'close']
    pe_price = pe_data.loc[entry_time, 'close']

    ce_sl_price = ce_price + ((ce_price * sl) / 100)
    pe_sl_price = pe_price + ((pe_price * sl) / 100)

    ce_hit_time = ce_data[ce_data['high'] >= ce_sl_price].index.min()
    pe_hit_time = pe_data[pe_data['high'] >= pe_sl_price].index.min()

    ce_pnl = None
    pe_pnl = None

    try:
        if pd.notna(ce_hit_time) and pd.notna(pe_hit_time):
            if ce_hit_time <= pe_hit_time:
                first_sl = 'ce'
                first_hit_time = ce_hit_time
            else:
                first_sl = 'pe'
                first_hit_time = pe_hit_time
        elif pd.notna(ce_hit_time):
            first_sl = 'ce'
            first_hit_time = ce_hit_time
        elif pd.notna(pe_hit_time):
            first_sl = 'pe'
            first_hit_time = pe_hit_time
        else:
            first_sl = None
            first_hit_time = None

        if first_sl == 'ce':
            ce_pnl = ce_price - ce_sl_price
            pe_ut_sl_price = pe_price + ((pe_price * ut_sl) / 100)
            pe_ut_hit_time = pe_data.loc[first_hit_time:][pe_data['high'] >= pe_ut_sl_price].index.min()

            if pd.notna(pe_ut_hit_time):
                pe_exit_price = pe_data.loc[pe_ut_hit_time, 'close']
            else:
                pe_exit_price = pe_data.loc[exit_time, 'close']
            pe_pnl = pe_exit_price - pe_price

        elif first_sl == 'pe':
            pe_pnl = pe_price - pe_sl_price
            ce_ut_sl_price = ce_price + ((ce_price * ut_sl) / 100)
            ce_ut_hit_time = ce_data.loc[first_hit_time:][ce_data['high'] >= ce_ut_sl_price].index.min()

            if pd.notna(ce_ut_hit_time):
                ce_exit_price = ce_data.loc[ce_ut_hit_time, 'close']
            else:
                ce_exit_price = ce_data.loc[exit_time, 'close']
            ce_pnl = ce_exit_price - ce_price

        else:
            ce_exit_price = ce_data.loc[exit_time, 'close']
            pe_exit_price = pe_data.loc[exit_time, 'close']
            ce_pnl = ce_exit_price - ce_price
            pe_pnl = pe_exit_price - pe_price

    except Exception as e:
        print("Error in PnL calculation:", e)
        return None

    total_pnl = (ce_pnl if ce_pnl is not None else 0) + (pe_pnl if pe_pnl is not None else 0)
    return ce_pnl, pe_pnl, total_pnl

In [ ]:
b120(fut,opt,sl,ut_sl,entry_time,exit_time)

C:\Users\ankit\AppData\Local\Temp\ipykernel_3852\3197136863.py:45: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  pe_ut_hit_time = pe_data.loc[first_hit_time:][pe_data['high'] >= pe_ut_sl_price].index.min()

-242.39999999999998

In [1]:
import os
os.cpu_count()

8