In [1]:
import pandas as pd
from typing import Literal

In [2]:
entry_time = pd.to_datetime("2022-01-03 09:20:00")
exit_time = pd.to_datetime("2022-01-03 15:25:00")

path_future = "C:\\PICKLE\\Nifty Future"
path_options = "C:\\PICKLE\\Nifty Options"
fut_path = "2022-01-04_nifty_future.pkl"
opt_path = "2022-01-04_nifty.pkl"

In [3]:
opt = pd.read_pickle(path_options+"\\"+opt_path).set_index("date_time")
fut = pd.read_pickle(path_future+"\\"+fut_path).set_index("date_time")
opt.index = pd.to_datetime(opt.index)
fut.index = pd.to_datetime(fut.index)

In [18]:
dte_df = pd.read_csv("DTE.csv").set_index("Date")
dte_df.index = pd.to_datetime(dte_df.index, format="%d-%m-%Y")
dte_df.loc[pd.to_datetime("09-01-2017", dayfirst=True), "BANKNIFTY"]

np.int64(4)

In [23]:
dte_df[dte_df.index == "09-01-2017"]["BANKNIFTY"].values[0]

np.int64(5)

In [8]:
dte_df

                  Day  BANKNIFTY  NIFTY  FINNIFTY  MIDCPNIFTY  SENSEX  BANKEX
Date
02-01-2017     Monday          4    NaN       NaN         NaN     NaN     NaN
03-01-2017    Tuesday          3    NaN       NaN         NaN     NaN     NaN
04-01-2017  Wednesday          2    NaN       NaN         NaN     NaN     NaN
05-01-2017   Thursday          1    NaN       NaN         NaN     NaN     NaN
06-01-2017     Friday          5    NaN       NaN         NaN     NaN     NaN
...               ...        ...    ...       ...         ...     ...     ...
24-12-2025  Wednesday          1    1.0       1.0         1.0     4.0     4.0
26-12-2025     Friday         33    5.0      33.0        33.0     3.0     3.0
29-12-2025     Monday         32    4.0      32.0        32.0     2.0     2.0
30-12-2025    Tuesday         31    3.0      31.0        31.0     1.0     1.0
31-12-2025  Wednesday         30    2.0      30.0        30.0     5.0    28.0

[2220 rows x 7 columns]

In [11]:
opt.head()

,index,scrip,open,high,low,close,volume,openinterest,expiry_date,dte
date_time,,,,,,,,,,
2022-01-03 09:15:00,NIFTY,19600CE,0.7,0.70,0.60,0.60,100,245300,2022-01-06,3
2022-01-03 09:15:00,NIFTY,19000CE,0.8,1.00,0.65,0.75,5550,491450,2022-01-06,3
2022-01-03 09:15:00,NIFTY,19200CE,0.8,0.80,0.75,0.75,250,15900,2022-01-06,3
2022-01-03 09:15:00,NIFTY,19500CE,0.5,0.75,0.50,0.75,32250,279750,2022-01-06,3
2022-01-03 09:15:00,NIFTY,19350CE,0.8,0.80,0.80,0.80,50,1650,2022-01-06,3

In [14]:
opt.head()

,index,scrip,open,high,low,close,volume,openinterest,expiry_date,dte
date_time,,,,,,,,,,
2022-01-04 09:15:00,NIFTY,19600CE,0.5,0.50,0.35,0.40,9600,253100,2022-01-06,2
2022-01-04 09:15:00,NIFTY,19500CE,0.5,0.50,0.45,0.50,9400,342850,2022-01-06,2
2022-01-04 09:15:00,NIFTY,18900CE,0.5,0.55,0.50,0.55,5550,66200,2022-01-06,2
2022-01-04 09:15:00,NIFTY,19000CE,0.5,0.80,0.45,0.55,17800,686650,2022-01-06,2
2022-01-04 09:15:00,NIFTY,19450CE,0.6,0.60,0.60,0.60,100,6250,2022-01-06,2

In [ ]:
pd.read_pickle(r"C:\Users\ashu4\Desktop\ankit internship\2025\2025\option\banknifty-2025-01-03.pkl")

In [ ]:
opt = opt.loc[entry_time:exit_time]
scrip = fut.loc[entry_time, 'close']
strike = round(scrip/50)*50
ce_scrip = f'{strike}CE'
pe_scrip = f'{strike}PE'
ce_data = opt[(opt['scrip'] == ce_scrip) ]
pe_data = opt[(opt['scrip'] == pe_scrip) ]
ce_price = ce_data.loc[entry_time, 'close']
pe_price = pe_data.loc[entry_time, 'close']

sl=20
ce_sl_price = ce_price* (1+sl/100)
pe_sl_price = pe_price* (1+sl/100)
ce_sl_price,pe_sl_price

(np.float64(143.16), np.float64(118.91999999999999))

In [17]:
ce_data.dte[0]

C:\Users\ashu4\AppData\Local\Temp\ipykernel_10416\3562733567.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  ce_data.dte[0]

np.int64(3)

In [13]:
def ner(data,sl_price):
    total_pnl=0
    price = data.iloc[0].close
    sl_flag = False
    while True:
        try:
            sl_time=data[data.high>=sl_price].index[0]
        except:
            sl_time = None

        print("sl hit at ", sl_time)
        if sl_time is not None:
            pnl = price - sl_price - 0.01*price
            print("pnl",pnl)
            total_pnl +=pnl
        
        if sl_time is None:
            sl_flag=False
            print("no sl hit")
            pnl=price - data.loc[exit_time].close - 0.01*price
            print(pnl)
            total_pnl+=pnl
            return total_pnl

        try:
            sell_again_time = data[(data.low<=price)&(data.index>sl_time)].index[0]
        except:
            sell_again_time = None
        
        if sell_again_time is not None:
            print("sell again at :",sell_again_time)
            sl_flag = True
            data=data[data.index>sell_again_time]
        else:
            print("not selling again")
            return total_pnl

In [14]:
ner(ce_data.copy(),ce_sl_price)

sl hit at  2022-01-04 09:21:00
pnl -22.3965
sell again at : 2022-01-04 09:35:00
sl hit at  2022-01-04 10:09:00
pnl -22.3965
sell again at : 2022-01-04 11:15:00
sl hit at  2022-01-04 12:04:00
pnl -22.3965
sell again at : 2022-01-04 13:42:00
sl hit at  2022-01-04 14:08:00
pnl -22.3965
not selling again

np.float64(-89.586)

In [15]:
ner(pe_data.copy(),pe_sl_price)

sl hit at  2022-01-04 09:38:00
pnl -18.79499999999999
sell again at : 2022-01-04 09:45:00
sl hit at  None
no sl hit
62.904999999999994

np.float64(44.11)

In [ ]:
def run_leg(data, sl_price,method, order_side="CE"):
    """Runs one option leg (CE or PE) and returns metadata updates."""
    total_pnl = 0
    price = data.iloc[0].close
    sl_count = 0
    
    if method == 'HL' :
        high='high',
        low='low'
    elif method == 'CC':
        close = 'close',
        close = 'close'
    
    leg_meta = {}
    # initialize placeholders
    for i in range(8):
        if i!=0:
            leg_meta[f"{order_side}{i}.Decay.Flag"] = False 
            leg_meta[f"{order_side}{i}.Decay.Time"] = ""
        leg_meta[f"{order_side}{i}.SL.Flag"] = False
        leg_meta[f"{order_side}{i}.SL.Time"] = ""
        leg_meta[f"{order_side}{i}.PNL"] = 0

    while True:
        try:
            sl_time = data[data.high >= sl_price].index[0]
        except:
            sl_time = None

        if sl_time is not None:
            pnl = price - sl_price - 0.01 * price
            total_pnl += pnl

            leg_meta[f"{order_side}{sl_count}.SL.Flag"] = True
            leg_meta[f"{order_side}{sl_count}.SL.Time"] = str(sl_time)
            leg_meta[f"{order_side}{sl_count}.PNL"] = pnl
            sl_count += 1

        if sl_time is None:
            # No SL hit, exit at last candle
            exit_time = data.index[-1]
            pnl = price - data.loc[exit_time].close - 0.01 * price
            total_pnl += pnl

            
            leg_meta[f"{order_side}{sl_count}.PNL"] = pnl
            break

        try:
            sell_again_time = data[(data.low <= price) & (data.index > sl_time)].index[0]
        except:
            sell_again_time = None

        if sell_again_time is not None:
            data = data[data.index > sell_again_time]
            
            leg_meta[f"{order_side}{sl_count}.Decay.Flag"] = True
            leg_meta[f"{order_side}{sl_count}.Decay.Time"] = str(sell_again_time)
        else:
            break

    return total_pnl, leg_meta


def ner_both(data_ce, sl_ce, data_pe, sl_pe,
             strategy="NRE", symbol="NIFTY",
             start_time="09:20:00", end_time="15:25:00",
             method="HL", sl=20.0, resl=20.0, om=0.0,
             trade_date="2022-01-04", fut_scrip:int=17713.8,
             ce_scrip:str=None,pe_scrip=None):

    # Run CE leg
    ce_pnl, ce_meta = run_leg(data_ce, sl_ce, "CE",method=method)
    # Run PE leg
    pe_pnl, pe_meta = run_leg(data_pe, sl_pe, "PE",method=method)

    # Base metadata
    metadata = {
        "P_Strategy": strategy,
        "P_Index": symbol,
        "P_StartTime": start_time,
        "P_EndTime": end_time,
        "P_OrderSide": "SELL",
        "P_Method": method,
        "P_SL": sl,
        "P_ReSL": resl,
        "P_OM": om,
        "Date": trade_date,
        "Day": pd.to_datetime(trade_date).day_name(),
        "DTE": 3,
        "EntryTime": start_time,
        "Future": fut_scrip,
        "CE.Strike": ce_scrip,
        "CE.Price": data_ce.iloc[0].close,
        "CE.SL.Price": sl_ce,
    }
    pe={
        "PE.Strike": pe_scrip,
        "PE.Price": data_pe.iloc[0].close,
        "PE.SL.Price": sl_pe,
    }

    # Merge CE and PE legs
    metadata.update(ce_meta)
    metadata.update(pe)
    metadata.update(pe_meta)

    return ce_pnl + pe_pnl, metadata

In [32]:
pnl , rows = ner_both(ce_data,ce_sl_price,pe_data,pe_sl_price,fut_scrip=future_scrip,ce_scrip=ce_scrip,pe_scrip=pe_scrip)

In [33]:
print("Total pnl: ",pnl)
df = pd.DataFrame([rows])
df.to_csv("result.csv")

Total pnl:  -45.476

In [36]:
df=pd.read_parquet(r"C:\Users\ashu4\Downloads\NIFTY 2019-03-07 NRE No-1.parquet")

In [39]:
df.head(2)

,P_Strategy,P_Index,P_StartTime,P_EndTime,P_OrderSide,P_Method,P_SL,P_ReSL,P_OM,Date,...,PE6.Decay.Flag,PE6.Decay.Time,PE6.SL.Flag,PE6.SL.Time,PE6.PNL,PE7.Decay.Flag,PE7.Decay.Time,PE7.SL.Flag,PE7.SL.Time,PE7.PNL
0,NRE,NIFTY,09:16:00,13:00:00,SELL,HL,0,0.0,0.00,2019-03-07,...,False,NaT,False,NaT,0.0,False,NaT,False,NaT,0.0
1,NRE,NIFTY,09:16:00,13:00:00,SELL,HL,0,0.0,0.05,2019-03-07,...,False,NaT,False,NaT,0.0,False,NaT,False,NaT,0.0

In [179]:
fut_path = "2019-03-07_nifty_future.pkl"
opt_path = "2019-03-07_nifty.pkl"

opt = pd.read_pickle(path_options+"\\"+opt_path).set_index("date_time")
fut = pd.read_pickle(path_future+"\\"+fut_path).set_index("date_time")
opt.index = pd.to_datetime(opt.index)
fut.index = pd.to_datetime(fut.index)

In [ ]:
start_dates = df.P_StartTime.unique()
end_times=df.P_EndTime.unique()
methods=df.P_Method.unique()    # HL , CC 
sls=resls=df.P_SL.unique()
oms=df.P_OM.unique()

In [234]:
def run_leg(data, sl_price,method:Literal["HL","CC"], order_side):
    """Runs one option leg (CE or PE) and returns metadata updates."""
    total_pnl = 0
    price = data.iloc[0].close
    sl_count = 0
    
    if method == 'HL' :
        high='high'
        low='low'
    elif method == 'CC':
        high='close'
        low='close'
    
    leg_meta = {}
    # initialize placeholders
    for i in range(8):
        if i!=0:
            leg_meta[f"{order_side}{i}.Decay.Flag"] = False 
            leg_meta[f"{order_side}{i}.Decay.Time"] = ""
        leg_meta[f"{order_side}{i}.SL.Flag"] = False
        leg_meta[f"{order_side}{i}.SL.Time"] = ""
        leg_meta[f"{order_side}{i}.PNL"] = 0

    while True:
        try:
            sl_time = data[data[high] >= sl_price].index[0]
        except:
            sl_time = None

        if sl_time is not None:
            pnl = price - sl_price - 0.01 * price
            total_pnl += pnl

            leg_meta[f"{order_side}{sl_count}.SL.Flag"] = True
            leg_meta[f"{order_side}{sl_count}.SL.Time"] = str(sl_time)
            leg_meta[f"{order_side}{sl_count}.PNL"] = pnl
            sl_count += 1

        if sl_time is None:
            # No SL hit, exit at last candle
            exit_time = data.index[-1]
            pnl = price - data.loc[exit_time].close - 0.01 * price
            total_pnl += pnl

            
            leg_meta[f"{order_side}{sl_count}.PNL"] = pnl
            break

        try:
            sell_again_time = data[(data[low] <= price) & (data.index > sl_time)].index[0] 
        except:
            sell_again_time = None

        if sell_again_time is not None:
            data = data[data.index > sell_again_time]
            
            leg_meta[f"{order_side}{sl_count}.Decay.Flag"] = True
            leg_meta[f"{order_side}{sl_count}.Decay.Time"] = str(sell_again_time)
        else:
            break

    return total_pnl, leg_meta


def ner_both(option, strategy="NRE", symbol="NIFTY",
             start_time="09:20:00", end_time="15:25:00",
             method='CC', sl=20.0, resl=20.0, om=0,
             trade_date="2022-01-04",
             ):
    if om == 0:
        ce_scrip,pe_scrip,ce_price,pe_price,future_scrip,entry_time=bt.get_straddle_strike(start_time,end_time)
    else:
        ce_scrip,pe_scrip,ce_price,pe_price,future_scrip,entry_time=bt.get_strangle_strike(start_time,end_time,om=om)
    
    ce_sl_price = ce_price* (1+sl/100)
    pe_sl_price = pe_price* (1+sl/100)

    opt = option.loc[entry_time:exit_time]
    ce_data = opt[(opt['scrip'] == ce_scrip) ]
    pe_data = opt[(opt['scrip'] == pe_scrip) ]
    ce_price = ce_data.loc[entry_time, 'close']
    pe_price = pe_data.loc[entry_time, 'close']

    # Run CE leg
    ce_pnl, ce_meta = run_leg(ce_data, ce_sl_price, method=method,order_side="CE")
    print("method: ",method)
    # Run PE leg
    pe_pnl, pe_meta = run_leg(pe_data, pe_sl_price, method=method,order_side="PE")
    print("method: ",method)

    # Base metadata
    metadata = {
        "P_Strategy": strategy,
        "P_Index": symbol,
        "P_StartTime": start_time,
        "P_EndTime": end_time,
        "P_OrderSide": "SELL",
        "P_Method": method,
        "P_SL": sl,
        "P_ReSL": resl,
        "P_OM": om,
        "Date": trade_date,
        "Day": pd.to_datetime(trade_date).day_name(),
        "DTE": 3,
        "EntryTime": start_time,
        "Future": future_scrip,
        "CE.Strike": ce_scrip,
        "CE.Price": ce_data.iloc[0].close,
        "CE.SL.Price": ce_sl_price,
    }
    pe={
        "PE.Strike": pe_scrip,
        "PE.Price": pe_data.iloc[0].close,
        "PE.SL.Price": pe_sl_price,
    }

    # Merge CE and PE legs
    metadata.update(ce_meta)
    metadata.update(pe)
    metadata.update(pe_meta)

    return ce_pnl + pe_pnl, metadata

In [233]:
methods[1]

'CC'

In [ ]:
combinations=[]
for start_date in start_dates:
    for end_time in end_times:
        for method in methods:
            for sl in sls:
                for om in oms:
                    print(start_date,end_time,method,sl,om)
                    pnl , rows = ner_both(
                             opt.copy(),
                             start_time=start_date,
                             end_time=end_time,
                             method='HL',
                             sl=sl,resl=sl,
                             om=om,
                             trade_date=opt.index[0].date())
                    print(rows)
                    combinations.append(rows)
                    print("total " ,pnl)

combination=pd.DataFrame(combinations)

In [258]:
combination=pd.DataFrame(combinations)

In [261]:
combination.to_csv("sre with parameters.csv")

In [164]:
pd.DataFrame([rows]).to_csv("demo.csv")

In [247]:
entry = pd.to_datetime("2019-03-07 09:20:00")
exit = pd.to_datetime("2019-03-07 15:25:00")

In [1]:
import pandas as pd

In [9]:
pd.read_parquet(
    r"C:\Users\ashu4\Downloads\NIFTY\NIFTY\NREW NIFTY 0920 1525 SELL HL 90.0 90.0 0.0.parquet"
).to_csv(r"C:\Users\ashu4\Downloads\NIFTY\NIFTY\NREW NIFTY 0920 1525 SELL HL 90.0 90.0 0.0.csv")

In [ ]:
def weekly_nre():
    weekly_groups = group_files_by_week(nifty_future_list, nifty_options_list)

    weekly_folder = processed_files / "weekly_file"
    weekly_folder.mkdir(exist_ok=True)

    for group in weekly_groups:
        # Combine all files in the group
        futs = []
        opts = []
        for fut_path, opt_path in group:
            fut = pd.read_pickle(fut_path)
            opt = pd.read_pickle(opt_path)
            futs.append(fut)
            opts.append(opt)
        fut_week = pd.concat(futs).set_index("date_time")
        opt_week = pd.concat(opts).set_index("date_time")
        fut_week.index = pd.to_datetime(fut_week.index)
        opt_week.index = pd.to_datetime(opt_week.index)
        opt_week["date_time"] = opt_week.index
        fut_week["date_time"] = fut_week.index

        # Build ordered list of distinct file dates in this group
        dates = []
        for _, opt_path in group:
            opt_sample = pd.read_pickle(opt_path)
            dt = pd.to_datetime(opt_sample.iloc[0]["date_time"]).date()
            dates.append(dt)
        dates = sorted(set(dates))
        if not dates:
            continue
        last_date = dates[-1]

        print(f"Processing week (combos end on): {last_date}  -- start dates: {dates}")

        # For every start_date in the group, create combo start_date -> last_date
        for start_date in dates:
            for start_time in start_times:
                for end_time in end_times:
                    for method in methods:
                        for sl in sls:
                            for om in oms:
                                start_dt = pd.to_datetime(
                                    f"{start_date} {start_time.strftime('%H:%M:%S')}"
                                )
                                end_dt = pd.to_datetime(
                                    f"{last_date} {end_time.strftime('%H:%M:%S')}"
                                )
                                try:
                                    pnl, rows = ner_both_weekly(
                                        opt_week.copy(),
                                        fut_week.copy(),
                                        start_time=start_dt,
                                        end_time=end_dt,
                                        method=method,
                                        sl=sl,
                                        resl=sl,
                                        om=om,
                                    )
                                except Exception as e:
                                    print(
                                        "weekly_nre: error running ner_both_weekly", e
                                    )
                                    continue

                                # Save single-row parquet per parameter combination
                                out_df = pd.DataFrame([rows])
                                filename = (
                                    f"NREW NIFTY {start_time.strftime('%H%M')} "
                                    f"{end_time.strftime('%H%M')} SELL {method} {sl} {sl} {om}.csv"
                                )
                                out_path = weekly_folder / filename
                                try:
                                    out_df.to_csv(out_path, index=False)
                                except Exception as e:
                                    print("failed to write csv", out_path, e)

        print("week completed", last_date)